* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kanit", sans-serif;
}

.body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*-------------------------------- Navbar updated starts here -----------------------------*/
nav {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(209, 81, 22);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

nav .brand {
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
}

nav .nav-items {
  display: flex;
  font-size: 1rem;
  margin-right: 2rem;
}

nav .nav-item {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-bottom: 0;
  cursor: pointer;
}

nav .nav-item::after {
  content: "";
  height: 3px;
  width: 100%;
  border-radius: 15px;
}
nav .brand:hover {
  transform: scale(1.05);
}

nav .nav-item:hover::after {
  background-color: yellow;
}
/*----------------------------- Navbar updated ends here -------------------------------------*/

.about {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-content: space-between;
  color: rgb(209, 81, 22);
}

.tha,
.task {
  margin: 5%;
  padding: 25px 5px;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.tha:hover,
.task:hover {
  background: linear-gradient(
    217deg,
    #fceac8,
    #f5dec1,
    #fdf5f5,
    #ffd0bb,
    #f0c8c5,
    #f6fad1,
    #fcd9b8,
    #f3f5e9,
    #faa3a3,
    #ffeccf,
    #fcb878,
    #fdf8f8
  );
  background-size: 1800% 1800%;
  -webkit-animation: AnimationName 52s ease infinite;
  -moz-animation: AnimationName 52s ease infinite;
  animation: AnimationName 52s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}

.content {
  display: flex;
  flex-direction: column;
}
.tha1,
.task1 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
  margin: 5px;
  padding: 5px;
}
.tha-image,
.task-image,
.tha-description,
.task-description {
  border-radius: 5px;
  color: rgb(209, 81, 22);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: white;
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tha-description,
.task-description {
  flex-direction: column;
}
.title {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.tha-image:hover,
.task-image:hover,
.tha-description:hover,
.task-description:hover,
.title:hover {
  transform: scale(1.01);
}
.tha-image img,
.task-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tha-description {
  padding: 2px;
}
a {
  text-decoration: none;
  color: inherit;
}
.link {
  color: rgb(126, 45, 8);
  font-size: 0.9rem;
  font-weight: 100;
  margin-top: 2px;
  padding: 0px 5px;
  border-radius: 25px;
  border: 1px solid transparent;
  box-shadow: rgba(126, 45, 8, 0.16) 0px 1px 4px;
}
.link:hover {
  border: 1px solid rgb(126, 45, 8);
}
