* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(241, 245, 248); */
  background-color: rgb(244, 119, 40);
  font-family: "Kanit", sans-serif;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* --------------------------------------------------------Navbar style starts------------------------------------------------- */
/* .nav {
  min-height: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 9px 15px -1px rgba(0, 0, 0, 0.57);
  background-color: rgb(244, 119, 40);
  color: white;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}
.nav a {
  text-decoration: none;
  padding-right: 50px;
}
.nav a:hover {
  font-size: 1.02em;
  text-shadow: 1px 2px 3px rgba(118, 184, 235, 1);
}

.logo {
  margin-right: 40%;
} */
.navbar {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.navbar ul {
  /* border: 2px solid blue; */
  display: flex;
  padding-top: 15px;
}

.navbar ul li {
  margin-left: 20px;
  list-style: none;
  padding-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(209, 81, 22);
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.navbar ul li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.left {
  font-size: 27px;
  padding-bottom: 15px;
}

.right {
  padding-left: 150vh;
}
/* -------------------------------------------------Navbar Style ends------------------------------------------------------------- */
.about {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-content: space-between;
  /* color: rgb(16, 42, 66); */
  color: rgb(209, 81, 22);
}

.tha,
.task {
  margin: 5%;
  padding: 25px 5px;
  width: 35%;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.tha:hover,
.task:hover {
  background: linear-gradient(
    217deg,
    #fceac8,
    #f5dec1,
    #fdf5f5,
    #ffd0bb,
    #f0c8c5,
    #f6fad1,
    #fcd9b8,
    #f3f5e9,
    #faa3a3,
    #ffeccf,
    #fcb878,
    #fdf8f8
  );
  background-size: 1800% 1800%;
  -webkit-animation: AnimationName 52s ease infinite;
  -moz-animation: AnimationName 52s ease infinite;
  animation: AnimationName 52s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}

.title {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
}
.tha1,
.task1 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
  margin: 5px;
  padding: 5px;
}
.tha-image,
.task-image,
.tha-description,
.task-description {
  border-radius: 5px;
  /* color: rgb(22, 91, 141); */
  color: rgb(209, 81, 22);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: white;
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tha-description,
.task-description {
  flex-direction: column;
}
.title {
  font-family: "Montserrat", sans-serif;
}
.tha-image:hover,
.task-image:hover,
.tha-description:hover,
.task-description:hover,
.title:hover {
  transform: scale(1.03);
}
.tha-image {
  width: 100px;
}
.tha-description {
  padding: 2px;
}
a {
  text-decoration: none;
  color: inherit;
}
