* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid BLUE; */
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ff7700;
  background-position: fixed;
}

main {
  height: 100vh;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

nav .brand {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

nav .nav-items {
  display: flex;
  font-size: 1.5rem;
  color: white;
}

nav .nav-item {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-bottom: 0;
  cursor: pointer;
}

nav .nav-item::after {
  content: '';
  height: 5px;
  width: 100%;
  border-radius: 15px;
}

nav .nav-item:hover::after {
  background-color: yellow;
}



h1 {
  align-self: center;
  margin-top: 20px;
}
h3 {
  color: blue;
}
h4 {
  font-style: italic;
}

.profile {
  /* width: 500px; */
  padding: 5px;
  /* height:auto; */
  
  display: flex;
  flex-direction: row;
  
  box-shadow: 5px 5px inset rgba(255, 255, 255, 0.459);
  box-shadow: 0px 0px 2px 2px inset rgba(255, 255, 255, 0.459);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.pro {

  
  margin: auto;
  /* padding-top: 45px; */
  width: max-content;
  height: 250px;
  display: flex;
  justify-content: space-around;


  
 
}

.details {
  width: 230px;
  height: 200px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: auto;
}

.para {
  overflow-wrap: break-word;
  float: right;
  margin-top: 10px;
  justify-content: space-around;
}

.clubbed {
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 80vh; */
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
  position: relative;
}

